

body {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-image: url("https://i.imgur.com/IBti02Y.jpg");
    background-position: center;
    background-size: cover;
    color: #0B132D;
    margin: auto;
    padding-bottom: 30px;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: 'Uncial Antiqua', cursive;
    background-color: #0B132D;
    color: antiquewhite;
    margin: 0 auto;
    height: 20vh;
} 

h3 {
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-style: italic;
    margin-left: 80px auto;
    margin-left: 80px auto;
    padding: 20px;
    color: #0B132D;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

main {
    margin: auto;
    margin-top: 20px auto;
    margin-bottom: 20px auto;
    }


   p {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
    margin-top: 110px;
}

    .card {
        height: 300px; 
        width: 192px; 
        background-image: url("https://i.imgur.com/9LBwWfF.png");
        background-position: center;
        background-size: cover;  
        border: 5px solid white;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: all 0.9s ease;
        transform: translate(-50%, -50%);
        transform: scale(1);
        margin-right: 20px;
        margin-bottom: 20px;
    } 

    .card:last-child {
        margin-right: 0;
    }    

    .card:active {
        transform: scale(.98);
        transition:  transform .2s;
    }   

    .card.flip {
        transform: rotateY(-180deg);
    }

img {
     height: 300px;
     width: 192px;   
     background-position: center; 
     background-size: cover;  
    }

button {
    display: hidden;
    width: 100px;
    height: 50px;
    margin: auto;
    align-items: center;
    background-color: #0B132D;
    color: antiquewhite;
    border: 1 px solid transparent;
    border-radius: 5px;
}

/* Large screens */
@media (min-width: 768px) {
    main{
        display: flex;
    }

    .deck {
        width: 192px;
        height: 300px;
        margin-left: -12rem; 
        margin-bottom: 20px; 
        background-image: url("https://i.imgur.com/9LBwWfF.png");
        background-position: center;
        background-size: cover;
        border: 5px solid white;
        border-radius: 10px;
        flex:   1;
        } 
    
    .deck:active {
        transform: scale(.98);
        transition:  transform .2s;
    }
}

