*, *::after, *::before {
    box-sizing: border-box;
}

@media only screen and (min-width: 1440px){

}
@media only screen and (max-width: 320px) {

}

/* header not working still */
/* header {
    display: flex;
    background-image: url("https://i.imgur.com/ORL23sJ.jpg") no-repeat;
    margin: 0;
    padding: 30px 20px 30px 20px;
}  */

body {
height: 100vh;    
/* display: flex; */
background-color: lavender;
color: lavender;
text-align: center;
}


nav {
display: none;   
flex-direction: row; 
justify-content: space-around;
align-items: center;
height: 50px;
background-color: purple;
} 

nav div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    color: white;
}


h1 {
width: 100%;
font-family: 'Uncial Antiqua', cursive;
font-size: 52px;
background-color: indigo;
margin: auto;
padding: 50px;
} 

h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-style: italic;
margin: auto;
padding: 40px;
color: indigo;
}

p {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 12px;
    color: indigo;
}

.deck {
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 300px;
    margin: 20px auto; 
    background-image: url("https://i.imgur.com/9LBwWfF.png");
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    border-radius: 10px;
    } 

.deck:active {
    transform: scale(.98);
    transition:  transform .2s;
}    

section {
    height: 300px;
    width: 700px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    }


    .card {
        width: 222px;
        height: 300px;
        margin: auto;
        position: relative;
        border: 1px solid transparent;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: all 0.9s ease;
        transform: translate(-50%, -50%);
        transform: scale(1);
    }

    .card:active {
        transform: scale(.98);
        transition:  transform .2s;
    }   

     .card.flip {
        transform: rotateY(-180deg);
    }

    .front { 
        width: 100%;
        height: 100%;
        background-image: url("https://i.imgur.com/9LBwWfF.png");
        background-position: center;
        background-size: cover;
        border: 5px solid white;
        border-radius: 10px;
        backface-visibility: hidden;
    } 

     .back {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        border-radius: 10px; 
        transform: rotateY(-180deg);
        backface-visibility: hidden;
    } 

button {
    display: hidden;
    width: 100px;
    height: 50px;
    margin: auto;
    align-items: center;
    background-color: indigo;
    color: lavender;
    border: 1 px solid transparent;
    border-radius: 5px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
  }